body {
    font-family:'Roboto', sans-serif;
    background-color: #FFF0E5;
    color:steelblue
}

.first {
    background-color: yellow;
}

.about {
    margin: 30px;
}
.catsenses {
    margin: 30px;
}

.History {
    margin: 30px;
}

img{

    border: 10px solid #0FB0CE;
    margin: 50;   
}

.imgcontainer {
    text-align: center;
}